server{
    
    server_name localhost;

location ~ ^/test.html$ {

        valid_referers blocked server_names;
        #    localhost.*;

        if ($invalid_referer) {
           return 403;

            #more_set_headers "Server: my_server";

       }
       #add_header X-my-header my-header-content;
       
    }

}